* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  //font-family: 'Alata', sans-serif;
  font-family: bahnschrift;
  //font-family: 'Source Sans Pro', sans-serif;
  //font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

button {
  font-size: 1.2rem;
  border: none;
  border-radius: 0.1em;
  padding: 5px;
}