$info_padding: 1em;
$main_padding: 2em;

$contact_size: 3em;

$card_width: 9em;
$card_margin: 0.13em;

$card_width_smol: 8em;

$card_width_mini: 7.1em;

$card_width_big: 11em;
$card_margin_big: 0.16em;
$card_font_size: 1rem;

$card_white_bg: white;
$card_white_text: black;

$card_black_bg: black;
$card_black_text: white;

$navbar_color: #343a40;
$hover_color: rgba(78, 168, 222, 0.7);
$main_color: #6c757d;
$secondary_color: #f8f9fa;
$info_color: rgba(0, 0, 0, 0.1);
$navbutton_color: rgba(0, 0, 0, 0.3);

$card_font_size: 1rem;